<% var title = 'Files' %>
<% var name = "" %>
<% if(!user) { %>
<% include header %>
<% } else { %>
<% var privilege = user.userInfo.privilege %>
<% name = user.userInfo.firstName + " " + user.userInfo.lastName %>
<% include header %>
<% } %>
<center><div class="ui threaded comments">
<h1 class="ui dividing header">Files Page</h1>
<% if(privilege == "Admin" || privilege == "Officer") { %>
		<form action="/fileUpload" method="post" enctype="multipart/form-data">
			<input type="text" name="location" value="files" hidden>
			<input type="file" name="myfile" />
			<br></br>
			<input type="submit" class="btn btn-info btn-lg" name="submit" value="Submit File">
		</form>
		<br></br>
		<table class="table-hover" border="1">
		<th>Documents</th>
		<th>Delete Document</th>
		<% for(var i =0; i< files.length; i++) { %>
		<tr>
		<td><a href="/files/<%= files[i] %>"><%= files[i] %></a></td>
		<td><a href="#">Delete</a></td>
		</tr>
		<% } %>
		</table>
		</div>
		</center>
	</body>
</html>
<% } else { %>
<table class="table-hover" border="1">
		<th>Documents</th>
		<% for(var i =0; i< files.length; i++) { %>
		<tr>
		<td><a href="/files/<%= files[i] %>"><%= files[i] %></a></td>
		</tr>
		<% } %>
		</table>
		</div>
		</center>
	</body>
</html>
<% } %>