<footer class="footer">
  <div class="container">
  <div class="main-wrap">
        <div class="foot-row">
            <div class="address">
                <h1>Georgia College</h1>
                <a target="_blank" href="https://www.google.com/maps/place/Georgia+College/@33.081995,-83.230898,17z/data=!3m1!4b1!4m2!3m1!1s0x88f6c7e6e947a3ad:0x3c1d96a21ea53a47">
                    <p>231 W. Hancock St.  <span>|</span>  Milledgeville, GA 31061</p>
                </a>
            </div>
            <div class="contact">
                <h1>800-342-0471</h1>
                <p><a href="mailto:admissions@gcsu.edu">admissions@gcsu.edu</a></p>
            </div>
        </div>
        <div class="foot-row">
            <ul class="footer-links">
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/a-z-index">A-Z Index</a></li>
                <li><a href="http://directory.gcsu.edu">Campus Directory</a></li>
                <li><a class="no-click">© 2016</a></li>
            </ul>
            
        </div>
    </div>
    <div id="social-media">
        <ul id="subsocial">
            <li><a class="facebook"href="https://www.facebook.com/GeorgiaCollegeRollerHockey" target="_blank"></a></li>
            <li><a class ="instagram"href="https://www.instagram.com/georgiacollegehockey/" target="_blank"></a></li>
            <li><a class ="twitter" href="https://twitter.com/GCRollerHockey" target="_blank"></a></li>
            <li><a class="ncrha" href="https://ncrha.org/team.php?team_id=53546" target="_blank"></a></li>           
        </ul>
    </div>
    </div>
</footer>