<% var title = 'GCSU Hockey' %>
<% var name = "" %>
<% if(!user) { %>
<% include header %>
<% } else { %>
<% var privilege = user.userInfo.privilege %>
<% name = user.userInfo.firstName + " " + user.userInfo.lastName %>
<% include header %>
<% } %>
<center><div class="ui threaded comments">
        <h1 class="ui dividing header">Announcements</h1>
        <div class="comment">
            <div class="text">
                <%= announceMessage %>
            </div>
            <div class="content">
                <!-- <img src="./public/images/jacob.jpg" height="100" width="100"> -->
                <a class="author"><%= announceName %></a>
                <div class="metadata">
                    <span class="date"><%= announceDate %></span>
                </div>
                    <% if(privilege == "admin") { %>
                    <div class="container">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Update Announcement</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
    
                        <!-- Modal content-->
                        <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Announcement</h4>
                        </div>
                        <form action="/updateAnnouncement" method="post">
                        <div class="form-group">
                            <textarea  class="text" cols="40" rows="5" id="announcement" name="announcement" placeholder="Enter text here..."></textarea>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
                </div>
                <% } %>
            </div>
        </div>
    </div></center>
</body>
</html>