<% var title = 'Playbook' %>
<% var name = "" %>
<% if(!user) { %>
<% include header %>
<% } else { %>
<% var privilege = user.userInfo.privilege %>
<% name = user.userInfo.firstName  + " " + user.userInfo.lastName %>
<% include header %>
<% } %>

<center><div class="ui threaded comments">
<h1 class="ui dividing header">Playbook Page</h1>
<% if(privilege == "Admin" || privilege == "Officer") { %>
		<form action="/fileUpload" method="post" enctype="multipart/form-data">
			<input type="text" name="location" value="playbook" hidden>
			<input type="file" name="myfile" />
			<input type="submit" name="submit" value="submit">
		</form>
<% } %>
		<img src="<%= playFiles[0] %>" width="100%" height="100%">
		<img src="<%= playFiles[1] %>" width="100%" height="100%">
	</body>
</html>