<% var title = 'Playbook' %>
<% var name = "" %>
<% if(!user) { %>
<% include header %>
<% } else { %>
<% var privilege = user.userInfo.privilege %>
<% name = user.userInfo.firstName  + " " + user.userInfo.lastName %>
<% include header %>
<% } %>

<center><div class="ui threaded comments">
<h1 class="ui dividing header">Playbook Page</h1>
	<body>
		<form method="post" enctype="multipart/form-data">
			<input type="text" name="location" value="myprofile" hidden>
			<input type="file" name="myimage" />
			<input type="submit" name="submit" value="submit">
		</form>

	</body>
</html>