<% var title = 'Playbook' %>
<% var name = "" %>
<% if(!user) { %>
<% include header %>
<% } else { %>
<% var privilege = user.userInfo.privilege %>
<% name = user.userInfo.firstName  + " " + user.userInfo.lastName %>
<% include header %>
<% } %>

<center><div class="ui threaded comments">
<h1 class="ui dividing header">Playbook Page</h1>
<% if(privilege == "Admin" || privilege == "Officer") { %>
		<form action="/fileUpload" method="post" enctype="multipart/form-data" text-align: center>
			<input type="text" name="location" value="playbook" hidden>
			<input type="file" name="myfile" />
			<br></br>
			<input type="submit" class="btn btn-info btn-lg" name="submit" value="Submit Play">
		</form>
<% } %>
<br></br>
		<img src="<%= playFiles[0] %>" width="75%" height="75%">
		<img src="<%= playFiles[1] %>" width="75%" height="75%">
	</body>
</html>