/*Header styling*/
.links{
background-color: #036;
border-bottom: 4px solid #063;
font-family: 'open-sans', helvetica, sans-serif;
font-size:100%;

}

.links a{
  color: #ffffff;
  line-height: 30px;


}

.links a:hover{
  color:#10a95c;
}

#middle-link img{
  height: 50px;
  width: 100px;
}
.right-links{
    float:right;
}

/*Footer styling*/
.footer {
    width: 100%;
    height: auto;
    padding: 80px 0px 60px;
    margin: 40px 0 0;
    border: none;
    background: #ededed
}
.footer .foot-row {
    width: 100%;
    height: auto;
    overflow: auto
}
.footer .foot-row:first-child {
    padding-bottom: 60px
}
.footer .foot-row:nth-child(2) {
    overflow: visible
}
.footer .address {
    display: inline-block;
    float: left;
    font-family: 'adobe-garamond-pro';
    font-style: normal;
    font-weight: 400
}
.footer .address h1 {
    font-size: 20px;
    line-height: 30px;
    color: #036;
    text-transform: uppercase
}
.footer .address a:hover {
    text-decoration: none
}
.footer .address a:hover p {
    color: #008cba
}
.footer .contact {
    display: inline-block;
    float: right;
    font-family: 'adobe-garamond-pro';
    font-style: normal;
    font-weight: 400;
    text-align: right
}
.footer .contact h1 {
    font-size: 36px;
    line-height: 40px;
    color: #036
}
.footer .contact p a:hover {
    color: #595959;
    text-decoration: none
}
.footer .footer-links {
    display: block;
    float: left
}
.footer .footer-links li {
    display: inline-block;
    padding: 0px 15px;
    border-right: 1px solid #595959
}
.footer .footer-links li:first-child {
    padding-left: 0px
}
.footer .footer-links li:last-child {
    border: none
}
.footer .footer-links li a.no-click {
    cursor: default
}
.footer .footer-links li a.no-click:hover {
    text-decoration: none
}
.footer .footer-links li a {
    color: #063;
    text-transform: uppercase;
    font-family: 'open-sans', helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px
}
#social-media{
    float: right;
}
#subsocial li {
    display: inline-block;
    margin: 5px;
    padding: 0;
}

#subsocial a{

    display:block;
    background: url('../images/social-icons.jpg');
    background-size: 130px 65px;
    height: 33px;
    width: 33px;

    
}

#subsocial a.facebook{
    background-position: 0px 0px;
}

#subsocial a.twitter{
    background-position: -33px 0px;
}

#subsocial a.instagram{
    background-position: -97px -33px;
}

#subsocial a.ncrha{
    background: url('../images/ncrha_header.png');
    background-size: 33px 33px;
}