html{
  overflow: hidden;
}

body{
	margin: 0;
}

th{
	padding: 10px;
}

td{
	padding: 10px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
}

li{
  display: inline-block;
  list-style-type: none;
  padding-right: 25px;
}

.headertest{
	padding: 15px;
	background-color: #003366;
	border-bottom: 7px solid #006633;
}

.container{
		width: 30%;
}

.modal-content{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid;
	width: 100%;
}

.testlabel{
	margin-right: 30px;
}

.ui.secondary.menu{
	margin-top: 0;
}

.headertest > .ui.secondary.menu > a.item{
	color: white;
	font-size: 125%;
}

.headertest > .ui.secondary.menu > a.item:hover{
	color: #006633;
	box-shadow: #003366;
}

.headertest > .ui.secondary.menu > .right.menu > a.ui.item{
	color: white;
	font-size: 125%;
}

.headertest > .ui.secondary.menu > .right.menu > a.ui.item:hover{
	color: #006633;
	box-shadow: #003366;
}

.ui.threaded.comments{
	padding: 100px;
}



/*			Carosels styling   */

.carousel-control{
	height: 100px;
	margin-top: auto;
	margin-bottom: auto;
}

#carousel.carousel.slide{
	width:800px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 10px;
 margin-bottom: 10px;
}
.carousel-inner{
height: 600px;
width:900px;
}
.carousel-inner .item img {

height: 400px;
width: 100%;
align-items: center;

}

/*  Login form styling  */	

.form-style {
    width: 700px;
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

	