html{
	overflow: hidden;
}

body{
	margin: 0;
}

th{
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	background-color: #003366;
	color: white;
}

tr{
	padding: 15px;
	text-align: center;
}

td{
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

table{
	border-spacing: 15px;
	border-collapse: collapse;
}


footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	left: 0;
}

li{
	display: inline-block;
	list-style-type: none;
	padding-right: 25px;
}

.headertest{
	padding: 5px;
	background-color: #003366;
	border-bottom: 7px solid #006633;
}

.container{
	width: 75%;
}

.row{
	text-align: center
}

.well{
	text-align: center;
}

.modal-content{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid;
	width: 100%;
}

.testlabel{
	margin-right: 30px;
}

.ui.secondary.menu{
	margin-top: 0;
}

.headertest > .ui.secondary.menu > a.item{
	color: white;
	font-size: 125%;
}

.headertest > .ui.secondary.menu > a.item:hover{
	color: #006633;
	box-shadow: #003366;
}

.headertest > .ui.secondary.menu > .right.menu > a.ui.item{
	color: white;
	font-size: 125%;
}

.headertest > .ui.secondary.menu > .right.menu > a.ui.item:hover{
	color: #006633;
	box-shadow: #003366;
}

.ui.threaded.comments{
	padding: 30px;
}

/*			Carosels styling   */

.carousel-control{
	height: 100px;
	margin-top: auto;
	margin-bottom: auto;
}

#carousel.carousel.slide{
	width:800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.carousel-inner{
	height: 100%;
	width: 100%;
}
.carousel-inner .item img {

	height: 100%;
	width: 100%;
}

/*  Login form styling  */	

.form-style {
	width: 700px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.userprofile {
	text-align: justify;
	width: 400;
}

.userprofile img {
	display: block;
	margin: 0 auto;
}

.carousel {
	max-height: 40%;
	max-width: 40%;
}